# <div style="direction:rtl"><font face="IRANSans" size="2"> تمرین سری اول </font></div>
<div style="direction:rtl"><font face="IRANSans" size="2"> در این تمرین ما میخوایم با دیتافریم ها آشنا شویم </font></div>
<br>

<div style="direction:rtl"><font face="IRANSans" size="2"><b> دیتافریم </b></font></div>

<div style="direction:rtl"><font face="IRANSans" size="2"> ما میتوانیم دیتافریم را با روشهای مختلف بسازیم: </font></div>

<div style="direction:rtl"> Lists, dicts, Series, Numpy ndarrays </div>
<br>
<br>

<div style="direction:rtl"><font face="IRANSans" size="2"> اول کتابخانه های مورد نیاز را بارگزاری میکنیم: </font></div>

In [9]:
# import necessary libraries
import pandas as pd
import numpy as np

# <span style='background:yellow'><font face="IRANSans" size="2"> <div style="direction:rtl">قسمت اول- ساخت دیتافریم با لیست</div></span>

## <div style="direction:rtl"><font face="IRANSans" size="2"> سوال اول- لیستی از اعداد </div>

<div style="direction:rtl">در این تمرین شما باید:</div>
<div style="direction:rtl"><font face="IRANSans" size="2"> &emsp;۱- لیستی از اعداد بسازید</div>
<div style="direction:rtl"><font face="IRANSans" size="2">&emsp;۲- از لیست دیتافریم بسازید</div>
<div style="direction:rtl"><font face="IRANSans" size="2"> &emsp;۳- آن را پرینت کنید</div>

In [11]:
# create an empty list
data = []

# TODO: add numbers to the data list
# put your code here
data = [1, 5, 6, 7, 8, 3]
# TODO: create a dataframe from the data list, then print it
# put your code here
df = pd.DataFrame(data)
df

   0
0  1
1  5
2  6
3  7
4  8
5  3

## <div style="direction:rtl">سوال دوم- لیستی از لیست ها</div>

<div style="direction:rtl">در این تمرین شما باید:</div>
<div style="direction:rtl">&emsp;۱- لیستی از اعداد و رشته ها بسازید</div>
<div style="direction:rtl">&emsp;۲- از لیست دیتافریم بسازید و برای هر ستون اسمی بگذارید</div>
<div style="direction:rtl">&emsp;۳- آن را پرینت کنید</div>

In [20]:
# create an empty list
data = []

# TODO: add List of lists to data, forexample: data=[['test_1', 1],['test_2', 2]]
# put your code here
data = [['a', 5, 6], ['b', 7, 8], ['c', 1, 2]]
# TODO: create a dataframe from the data list, then print it
# put your code here
df = pd.DataFrame(data, columns=['col1', 'col2', 'col3'])
df

  col1  col2  col3
0    a     5     6
1    b     7     8
2    c     1     2


# <div style="direction:rtl"><font face="IRANSans" size="2">قسمت دوم- ساخت دیتافریم با دیکشنری از آرایه ها و لیست ها</div>

## <div style="direction:rtl"><font face="IRANSans" size="2"> سوال-۱- دیکشنری از لیست </div>


<div style="direction:rtl"><font face="IRANSans" size="2"> در این تمرین شما باید:</div>
<div style="direction:rtl"><font face="IRANSans" size="2"> &emsp;۱- دیکشنری از لیست ها بسازید</div>
<div style="direction:rtl"><font face="IRANSans" size="2"> &emsp;۲- از لیست دیتافریم بسازید و برای هر نمونه اسمی بگذارید</div>
<div style="direction:rtl"><font face="IRANSans" size="2"> &emsp;۳- آن را پرینت کنید</div>

In [25]:
# TODO: create a Dict of List, forexample: data ={'test':['num_1','num_2'], 'num':[1, 2]}
# put your code here
data = {'name':['Mammad', 'Ali', 'Gholi'], 'age': [28, 22, 32], 'city': ['shz', 'teh', 'bus']}
# TODO: create a dataframe from your created list, and set index for each sample
# put your code here
df = pd.DataFrame(data)
df

     name  age city
0  Mammad   28  shz
1     Ali   22  teh
2   Gholi   32  bus

## <div style="direction:rtl"><font face="IRANSans" size="2"> سوال-۲- لیستی از دیکشنری ها </div>
<div style="direction:rtl">تصور کنید که ما ۴ تا ویژگی داریم. گاهی اوقات اگر مقداری برای یکی از این ویژگیها در نظر نگیریم، در این صورت خود کتابخانه پانداز برای آن ویژگی مقدار NaN را در نظر میگیرد </div>
<br>

<div style="direction:rtl"><font face="IRANSans" size="2"> در این تمرین شما باید:</div>
<div style="direction:rtl"><font face="IRANSans" size="2"> &emsp;۱- لیستی از دیکشنری ها بسازید و بعضی از مقادیر را خالی بگذارید</div>
<div style="direction:rtl"><font face="IRANSans" size="2"> &emsp;۲- از لیست دیتافریم بسازید </div>
<div style="direction:rtl"><font face="IRANSans" size="2"> &emsp;۳- آن را پرینت کنید</div>

In [27]:
# TODO: create a List of Dicts, forexample: data=[{'test': 'test_1', 'Num': 1, 'NextNum': 2}, {'test': 'test_2', 'NextNum': 3}]
# put your code here
data=[{'name': 'Mammad', 'age': 28, 'city': 'shz'}, {'name': 'Ali', 'city': 'teh'}, {'name': 'Gholi', 'age': 32}]
# TODO: create a dataframe from your created list
# put your code here

df = pd.DataFrame(data)
df

     name   age city
0  Mammad  28.0  shz
1     Ali   NaN  teh
2   Gholi  32.0  NaN


# <div style="direction:rtl"><font face="IRANSans" size="2">قسمت سوم- ساخت دیتافریم با دیکشنری از series ها</div>

## <div style="direction:rtl"><font face="IRANSans" size="2">سوال-۱- ساخت دیکشنری ازseries ها </div>

<div style="direction:rtl">در Pandas، ما میتوانیم با استفاده از pd.Series یک سری از داده ها درست کنیم.</div>
<br>

<div style="direction:rtl">در این تمرین شما باید:</div>
<div style="direction:rtl">&emsp;۱- یک دیکشنری از سری ها درست کنیدو برای هر ایندکس آن نامگذاری کنید</div>
<div style="direction:rtl">&emsp;۲- از دیکشنری ساخته شده دیتافریم بسازید </div>
<div style="direction:rtl">&emsp;۳- آن را پرینت کنید</div>

In [38]:
# TODO: create a Dict of Series, forexample: data = {'Name': pd.Series(['test_1', 'test_2'], index=['Test_1', 'Test_2']),'Num': pd.Series([1, 2], index=['Test_1', 'Test_2'])}
# put your code here
data = {'Mammmad': pd.Series(['shz', 28], index=['city', 'age']),'Ali': pd.Series(['teh', 22], index=['city', 'age'])}
# TODO: create a dataframe
# put your code here
df = pd.DataFrame(data)
df

# NOTICE: try to solve this problem with NaN values to get more familiar with pandas

     Mammmad  Ali
city     shz  teh
age       28   22

# <div style="direction:rtl"><font face="IRANSans" size="2">قسمت چهارم- پردازش ستون ها</div>

<div style="direction:rtl"><font face="IRANSans" size="2"> در این قسمت ما به اضافه کردن، پاک کردن و انتخاب یک ستون میپردازیم:</div>


## <div style="direction:rtl"><font face="IRANSans" size="2">سوال-۱- اضافه کردن ستون </div>

<div style="direction:rtl"><font face="IRANSans" size="2"> در این تمرین شما باید:</div>
<div style="direction:rtl"><font face="IRANSans" size="2"> &emsp;۱- یک ستون جدید به اختیار خود برای دیتافریم بسازید</div>
<div style="direction:rtl"><font face="IRANSans" size="2"> &emsp;۳- آن را پرینت کنید</div>

### <div style="direction:rtl"><font face="IRANSans" size="2"> توجه کنید که میتوانید از دیتافریم های ساخته شده بالا استفاده کنید.</div>

In [48]:
# TODO: add column, forexample by using series: df ['added_col'] = pd.Series(['test_1', 'test_2'], index=['Test_1', 'Test_2'])
# put your code here
data = [['a', 2, 3], ['b', 12, 13], ['c', 22, 23]]
df = pd.DataFrame(data, columns=['col1', 'col2', 'col3'])
print(df)
# TODO: print the dataframe
# put your code here
df['col4'] = pd.Series([4, 14, 24])
print(df)

  col1  col2  col3
0    a     2     3
1    b    12    13
2    c    22    23
  col1  col2  col3  col4
0    a     2     3     4
1    b    12    13    14
2    c    22    23    24

## <div style="direction:rtl"><font face="IRANSans" size="2">  سوال-۲- اضافه کردن ستون با استفاده از ستون ها دیگر</div>

<div style="direction:rtl">ما میتوانیم از ستون های موجود دیگر در دیتافریم برای ساخت ستون جدید استفاده کنیم. بطور مثال اگر دو تا ستون عددی داشته باشیم، میتوانیم ستون جدیدی با استفاده از جمع آن دو ستون عددی بسازیم و به دیتافریم اضافه کنیم.</div>

<div style="direction:rtl">در این تمرین شما باید:</div>
<div style="direction:rtl">&emsp;۱- یک ستون جدید با استفاده از ستون های موجود برای دیتافریم بسازید</div>
<div style="direction:rtl">&emsp;۳- آن را پرینت کنید</div>

### <div style="direction:rtl"><font face="IRANSans" size="2">توجه کنید که میتوانید از دیتافریم های ساخته شده بالا استفاده کنید.</div>

In [56]:
# TODO: create column using another cols
# put your code here
data = [['a', 2, 3], ['b', 12, 13], ['c', 22, 23]]
df = pd.DataFrame(data, columns=['col1', 'col2', 'col3'])
print(df)
# TODO: print it
# put your code here
df['sum'] = df['col2'] + df['col3']
df

  col1  col2  col3
0    a     2     3
1    b    12    13
2    c    22    23

  col1  col2  col3  sum
0    a     2     3    5
1    b    12    13   25
2    c    22    23   45

## <div style="direction:rtl"><font face="IRANSans" size="2">  سوال-۳- انتخاب کردن ستون </div>

<div style="direction:rtl"><font face="IRANSans" size="2"> در این تمرین شما باید:</div>
<div style="direction:rtl">&emsp;۱- یک ستون از بین ستون های موجود انتخاب کنید</div>
<div style="direction:rtl">&emsp;۳- آن را پرینت کنید</div>

### <div style="direction:rtl"><font face="IRANSans" size="2"> توجه کنید که میتوانید از دیتافریم های ساخته شده بالا استفاده کنید.</div>

In [75]:
# TODO: select a column
# put your code here
data = [['a', 2, 3], ['b', 12, 13], ['c', 22, 23]]
df = pd.DataFrame(data, columns=['col1', 'col2', 'col3'])
print(df)
# TODO: print it
# put your code here
print('----------------------')
print(df.col1)
print('----------------------')
print(df.iloc[:, 0])
print('----------------------')
print(df.loc[:, 'col1'])

  col1  col2  col3
0    a     2     3
1    b    12    13
2    c    22    23
----------------------
0    a
1    b
2    c
Name: col1, dtype: object
----------------------
0    a
1    b
2    c
Name: col1, dtype: object
----------------------
0    a
1    b
2    c
Name: col1, dtype: object

## <div style="direction:rtl"><font face="IRANSans" size="2">  سوال-۴- حذف کردن ستون </div>

<div style="direction:rtl">ما میتوانیم ستون را با استفاده از روش های زیر حدف کنیم:</div>
<div style="direction:rtl">&emsp;۱- تابع del</div>
<div style="direction:rtl">&emsp;۲- تابع pop</div>
<div style="direction:rtl">&emsp;۳- تابع drop</div>

In [103]:
data = [['a', 2, 3], ['b', 12, 13], ['c', 22, 23]]
df = pd.DataFrame(data, columns=['col1', 'col2', 'col3'])
print(df)
# TODO: delete a column using del function
# put your code here
del df['col1']
print(f"\nresult of del:\n {df}")


data = [['a', 2, 3], ['b', 12, 13], ['c', 22, 23]]
df = pd.DataFrame(data, columns=['col1', 'col2', 'col3'])
# TODO: delete a column using pop function
# put your code here
df.pop('col3')
print(f"\nresult of pop: \n{df}")


data = [['a', 2, 3], ['b', 12, 13], ['c', 22, 23]]
df = pd.DataFrame(data, columns=['col1', 'col2', 'col3'])
# TODO: delete a column using drop function
# put your code here
df.drop('col3', axis=1)
g = df.drop('col3', axis=1)
print(f"\nresult of drop: \n{df}\t \t it is interesting that the drop is not inplace")

df.drop(2, axis=0)
g = g.drop(2, axis=0)
print(f"\nresult of drop: \n{df}\t \t it is interesting that the drop is not inplace")
print(f"\n\n the result of droping and saving in g is: \n{g}")
# it is better to print the dataframe after each method to see what happen

  col1  col2  col3
0    a     2     3
1    b    12    13
2    c    22    23

result of del:
    col2  col3
0     2     3
1    12    13
2    22    23

result of pop:
  col1  col2
0    a     2
1    b    12
2    c    22

result of drop:
  col1  col2  col3
0    a     2     3
1    b    12    13
2    c    22    23	 	 it is interesting that the drop is not inplace

result of drop:
  col1  col2  col3
0    a     2     3
1    b    12    13
2    c    22    23	 	 it is interesting that the drop is not inplace


 the result of droping and saving in g is:
  col1  col2
0    a     2
1    b    12

## <div style="direction:rtl"><font face="IRANSans" size="2">  قسمت ۵: پردازش سطر ها </div>
<div style="direction:rtl">در این قسمت ما به اضافه کردن، پاک کردن و انتخاب یک سطر میپردازیم:</div>

## <div style="direction:rtl"><font face="IRANSans" size="2">  سوال-۳- انتخاب کردن سطر </div>

<div style="direction:rtl">ما میتوانیم سطر را با استفاده از روش های زیر انتخاب کنیم:</div>
<div style="direction:rtl">&emsp;۱- انتخاب با label</div>
<div style="direction:rtl">&emsp;۲- انتخاب با شماره ایندکس</div>
<div style="direction:rtl">&emsp;۳- انتخاب با دو نقطه :</div>

In [118]:
data = [['a', 2, 3], ['b', 12, 13], ['c', 22, 23]]
df = pd.DataFrame(data, columns=['col1', 'col2', 'col3'])
print(df)
# TODO: try to select a row by Lable-- Lable means the sample name in here 
# put your code here
print(df.values[0])

# TODO: try to select a row by integer location-- integer location means the number of index of sample
# put your code here
print(df.iloc[0, [0, 1, 2]])
# TODO: using : oprator forexample print[array[4:8]]
# put your code here
print(df.iloc[0, :])
# you can print the dataframe in each step to see what happen

  col1  col2  col3
0    a     2     3
1    b    12    13
2    c    22    23
['a' 2 3]
col1    a
col2    2
col3    3
Name: 0, dtype: object
col1    a
col2    2
col3    3
Name: 0, dtype: object

## <div style="direction:rtl"><font face="IRANSans" size="2"> سوال-۲- اضافه کردن سطر </div>

<div style="direction:rtl">برای اضافه کردن سطر میتوانید مقادیر جدید بسازید و سپس آن را به دیتافریم اضافه کنید.</div>

In [135]:
data = [['a', 2, 3], ['b', 12, 13], ['c', 22, 23]]
df = pd.DataFrame(data, columns=['col1', 'col2', 'col3'])
print("the main data frame is:")
print(df)
# TODO: create a row using DataFrame function
# put your code here
df2 = pd.DataFrame([['d', 32, 33]], columns=['col1', 'col2', 'col3'])
print("\nthe update data frame is:")
print(df2)
# TODO: add the created row to your dataframe, you can use append function
# put your code here

df3 = pd.concat([df, df2], ignore_index=True)
print("\nthe final result is:")
print(df3)

the main data frame is:
  col1  col2  col3
0    a     2     3
1    b    12    13
2    c    22    23

the update data frame is:
  col1  col2  col3
0    d    32    33

the final result is:
  col1  col2  col3
0    a     2     3
1    b    12    13
2    c    22    23
3    d    32    33

## <div style="direction:rtl"><font face="IRANSans" size="2"> سوال-۳- پاک کردن سطر </div>

<div style="direction:rtl">برای پاک کردن سطر، از تابع drop همراه شماره نمونه استفاده میشود.</div>

In [140]:
data = [['a', 2, 3], ['b', 12, 13], ['c', 22, 23]]
df = pd.DataFrame(data, columns=['col1', 'col2', 'col3'])
print(df)
# TODO: delete a row using drop function and the lable
# put your code here
g = df.drop([1])
print(g)
# TODO: print your dataframe
# put your code here

  col1  col2  col3
0    a     2     3
1    b    12    13
2    c    22    23
  col1  col2  col3
0    a     2     3
2    c    22    23

# FINITO